{% extends "layout/base.html.twig" %}
{% block titulo 'Panel de Admin' %}
{% block encabezado %}
<h1>Panel de Administración <small>Autos</small></h1>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>id
                <div class="btn-group pull-right">
                    <a href="{{url_sortable("id","asc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-up icon-white"></i></a>
                    <a href="{{url_sortable("id","desc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-down icon-white"></i></a>
                </div>
            </th>
            <th>Marca
                <div class="btn-group pull-right">
                    <a href="{{url_sortable("marca","asc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-up icon-white"></i></a>
                    <a href="{{url_sortable("marca","desc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-down icon-white"></i></a>
                </div>
            </th>
            <th>Modelo
                <div class="btn-group pull-right">
                    <a href="{{url_sortable("modelo","asc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-up icon-white"></i></a>
                    <a href="{{url_sortable("modelo","desc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-down icon-white"></i></a>
                </div>
            </th>
            <th>A&ntilde;o
                <div class="btn-group pull-right">
                    <a href="{{url_sortable("anio","asc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-up icon-white"></i></a>
                    <a href="{{url_sortable("anio","desc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-down icon-white"></i></a>
                </div>
            </th>
            <th>Precio
                <div class="btn-group pull-right">
                    <a href="{{url_sortable("precio","asc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-up icon-white"></i></a>
                    <a href="{{url_sortable("precio","desc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-down icon-white"></i></a>
                </div>
            </th>
            <th>Status
                <div class="btn-group pull-right">
                    <a href="{{url_sortable("status","asc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-up icon-white"></i></a>
                    <a href="{{url_sortable("status","desc")|raw }}" class="btn btn-mini btn-info"><i class="icon-chevron-down icon-white"></i></a>
                </div>
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for carro in registros %}
        <tr>
            <td>{{ carro.id}}</td>
            <td>{{ carro.marca|title }}</td>
            <td>{{ carro.modelo|title }}</td>
            <td>{{ carro.anio}}</td>
            <td><span class="pull-right">{{ carro.precio|number_format(2,",",".") }} Bsf.</span></td>
            <td>{{ carro.status==1?"Activo":"Inactivo" }}</td>
            <td>
                <a href="{{ constant("URL_SISTEMA") }}carro/ver/{{ carro.id }}" class="btn btn-info">Ver</a>
                <a href="{{ constant("URL_SISTEMA") }}carro/editar/{{ carro.id }}" class="btn btn-primary">Editar</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">
                <span class="label label-info">No hay registros que mostrar</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</div>
<div class="row">
    <div class="span12">
    {{paginado|raw}}
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="well">
            <a href="{{constant('URL_SISTEMA')}}carro/Registrar" class="btn btn-primary">Agregar Nuevo Registro</a>
        </div>
    </div>
</div>
{% endblock %}