{% extends "layout/base.html.twig" %}

{# TITULO #}
{% block titulo get.accion|title ~ ' Auto' %}

{# HEAD #}
{% block head %}
{% if get.accion =='editar' %}
<script src="{{constant("URL_SISTEMA")}}js/carro/editar.js"></script>
{% else %}
<script src="{{constant("URL_SISTEMA")}}js/carro/registrar.js"></script>
{% endif %}
{% endblock %}
    
{# CONTENIDO #}
{% block contenido %}
    <form name="registrar" id="registrar" action="" class="form form-horizontal" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ registro.id }}"/>
        {# Datos del Vehiculo #}
        <fieldset>
            <legend>Datos del Vehículo</legend>
            <div class="row">
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="tipo_vehiculo">Tipo de vehículo <sup>*</sup> </label>
                        <div class="controls">
                            <select name="tipo_vehiculo" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">--</option>
                                {% for tipo in tipo_vehiculos %}
                                <option value="{{ tipo.id }}" {{registro.tipo_vehiculo == tipo.id?" selected='selected' ":"" }}>{{ tipo.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="marca_id">Marca<sup>*</sup> </label>
                        <div class="controls">
                            <select id="marca_id" name="marca_id" id="marcas" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                {% for marca in marcas %}
                                    <option value="{{marca.id}}" {{registro.marca_id == marca.id?" selected='selected' ":"" }}> {{marca.nombre|title}} </option>
                                {% else %}
                                    <option> -- </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="modelo_id">Modelo <sup>*</sup></label>
                        <div class="controls">
                            <select id="modelo_id" name="modelo_id" id="modelos" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                {% for modelo in modelos %}
                                    <option value="{{modelo.id}}" {{registro.modelo_id == modelo.id?" selected='selected' ":"" }}> {{ modelo.nombre|title}} </option>
                                {% else %}
                                    <option> -- </option>
                                {% endfor %}                                
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="anio">Año<sup>*</sup> </label>
                        <div class="controls">
                            <select name="anio" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="" class="number"> -- </option>
                                {% for i in "now"|date('Y')..1900 %}
                                <option {{registro.anio == i ? " selected='selected' " : "" }}>{{ i }} </option>
                                {% endfor %}                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="km">Recorrido (Km) </label>
                        <div class="controls">
                            <input type="text" name="km" class="digits" value="{{ registro.km }}" {{ modolectura ? "disabled='true'" : "" }}/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="version">Versión</label>
                        <div class="controls">
                            <input type="text" name="version" value="{{ registro.version }}" {{ modolectura ? "disabled='true'" : "" }}/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="color_id">Color<sup>*</sup></label>
                        <div class="controls">
                            <select name="color_id" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="null"> -- </option>
                                {% for color in colores_vehiculo %}
                                <option value="{{ color.id }}" {{registro.color_id == color.id?" selected='selected' ":"" }}>{{ color.nombre }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="placa">Placa </label>
                        <div class="controls">
                            <input type="text" name="placa" value="{{ registro.placa }}" {{ modolectura ? "disabled='true'" : "" }}/>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {# Motor #}
        <fieldset>
            <legend>Motor</legend>
            <div class="row">
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="motor">Motor <sup>*</sup> </label>
                        <div class="controls">
                            <input type="text" name="motor"  class="required" value="{{ registro.motor }}" {{ modolectura ? "disabled='true'" : "" }}/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="transmision_vehiculo_id">Transmisión <sup>*</sup> </label>
                        <div class="controls">
                            <select name="transmision_vehiculo_id"  class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value=""> -- </option>
                                {% for transmision in transmision_vehiculo %}
                                <option value="{{ transmision.id }}" {{registro.transmision_vehiculo_id == transmision.id?" selected='selected' ":"" }}>{{ transmision.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="cilindros">N° Cilindros<sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="cilindros" class="required number" value="{{registro.cilindros }}" {{ modolectura ? "disabled='true'" : "" }}/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="traccion_vehiculo_id">Tracción<sup>*</sup></label>
                        <div class="controls">
                            <select name="traccion_vehiculo_id" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">--</option>
                                {% for traccion in traccion_vehiculo %}
                                    <option value="{{ traccion.id }}" {{registro.traccion_vehiculo_id == traccion.id?" selected='selected' ":"" }}>{{ traccion.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {# Accesorios #}
        <fieldset>
            <legend>Accesorios</legend>
            <div class="row">
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="vidrios_ahumados">Vidrios<sup>*</sup></label>
                        <div class="controls">
                            <select name="vidrios_ahumados" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="null">-- Seleccione</option>
                                <option value="0" {{registro.vidrios_ahumados == 0 ?" selected='selected' ":"" }}>Ahumados</option>
                                <option value="1" {{registro.vidrios_ahumados == 1 ?" selected='selected' ":"" }}>Normales</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tapizado">Tapizado<sup>*</sup></label>
                        <div class="controls">
                            <select name="tapizado" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="null">-- Seleccione</option>
                                <option value="0" {{registro.tapizado == 0 ?" selected='selected' ":"" }}>Tela</option>
                                <option value="1" {{registro.tapizado == 1 ?" selected='selected' ":"" }}>Cuero</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="airbag">Airbag<sup>*</sup></label>
                        <div class="controls">
                            <select name="airbag" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">-- Seleccione</option>
                                <option value="1" {{registro.airbag == 1 ?" selected='selected' ":"" }}>SI</option>
                                <option value="0" {{registro.airbag == 0 ?" selected='selected' ":"" }}>NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="frenos_abs">Frenos ABS<sup>*</sup></label>
                        <div class="controls">
                            <select name="frenos_abs" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">-- Seleccione</option>
                                <option value="0" {{registro.frenos_abs == 0 ?" selected='selected' ":"" }}>NO</option>
                                <option value="1" {{registro.frenos_abs == 1 ?" selected='selected' ":"" }}>SI</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="direccion_vehiculo_id">Dirección <sup>*</sup> </label>
                        <div class="controls">
                        <select name="direccion_vehiculo_id" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                            <option value="">--</option>
                            {% for direccion in direccion_vehiculo %}
                            <option value="{{ direccion.id }}" {{ registro.direccion_vehiculo_id==direccion.id ? " selected='selected' " : "" }}>{{ direccion.nombre }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="aire_acondicionado">Aire Acondicionado<sup>*</sup></label>
                        <div class="controls">
                            <select name="aire_acondicionado" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">-- Seleccione</option>
                                <option value="1" {{registro.aire_acondicionado == 1 ?" selected='selected' ":"" }}>SI</option>
                                <option value="0" {{registro.aire_acondicionado == 0 ?" selected='selected' ":"" }}>NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="estereo">Estereo <sup>*</sup></label>
                        <div class="controls">
                            <select name="estereo" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">-- Seleccione</option>
                                <option value="1" {{registro.estereo == 1 ?" selected='selected' ":"" }}>SI</option>
                                <option value="0" {{registro.estereo == 0 ?" selected='selected' ":"" }}>NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="blindado">Blindado<sup>*</sup></label>
                        <div class="controls">
                            <select name="blindado" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">-- Seleccione</option>
                                <option value="1" {{registro.blindado == 1 ?" selected='selected' ":"" }}>SI</option>
                                <option value="0" {{registro.blindado == 0 ?" selected='selected' ":"" }}>NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {# Caraacteristicas #}
        <fieldset>
            <legend>Otras caracteristicas</legend>
            <div class="control-group">
                <label class="control-label" for="comentario">Características</label>
                <div class="controls">
                    <textarea class="input-xxlarge" cols="3" rows="3" name="comentario" {{ modolectura ? "disabled='true'" : "" }}>{{ registro.comentario}}</textarea>
                </div>
            </div>
        </fieldset>
        {# Precio #}
        <fieldset>
            <legend>Precio</legend>
            <div class="row">
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="precio">Precio<sup>*</sup> </label>
                        <div class="controls">
                            <input type="text" name="precio" class="required digits" value="{{ registro.precio }}" {{ modolectura ? "disabled='true'" : "" }}/>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <div class="control-group">
                        <label class="control-label" for="negociable">Negociable <sup>*</sup> </label>
                        <div class="controls">
                            <select name="negociable" class="required" {{ modolectura ? "disabled='true'" : "" }}>
                                <option value="">-- Seleccione</option>
                                <option value="1" {{registro.negociable == 1 ?" selected='selected' ":"" }}>SI</option>
                                <option value="0" {{registro.negociable == 0 ?" selected='selected' ":"" }}>NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {# Fotos #}
        <fieldset>
            <legend>Fotos</legend>
            <div class="control-group">
                {%for i in 0..4 %}
                <label class="control-label" for="foto{{i}}">Foto {{i == 0 ? "Principal" : i+1 }} <sup>*</sup> </label>
                <div class="controls">
                    <input type="file" id="foto{{i+1}}" name="foto{{i+1}}" class="{{i == 0 ? "required" : "" }}" value="{{ imagenes[i].url_imagen }}" {{ modolectura ? "disabled='true'" : "" }}/>
                {% if(get.accion == "editar") %}
                    <div class="row">
                        <div class="span5">
                            {% if(imagenes[i].id!=null ) %}
                            <img class="span1" src="{{constant('URL_SISTEMA') ~ 'img/carros/' ~ imagenes[i].url_imagen }}"/>
                            <a href="#" class="btn btn-danger eliminar_foto btn-small" data-id="{{imagenes[i].id}}">Eliminar Foto</a>
                            {% else %}
                            <a href="#" class="btn btn-info agregar_foto btn-small">Agregar Foto</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </fieldset>
        {# Accion #}
        <fieldset>
            <legend>Acción</legend>
            <div class="form-actions">
                {% if get.accion != "ver" and get.accion != "consultar" %}
                <input class="btn btn-primary" type="submit" name="accion" value="{{get.accion|title}}"/>
                {% else %}
                <a class="btn btn-primary" href="{{constant('URL_SISTEMA')}}carro/editar/{{ registro.id }}">Editar</a>
                {% endif %}
                <a class="btn btn-info" href="{{constant("URL_SISTEMA")}}carro/listar">Volver al menú</a>
            </div>
        </fieldset>
    </form>
{% endblock %} 